pandas==1.5.3
numpy==1.23.5
anndata==0.8.0
scipy==1.10.1
scanpy==1.9.1
matplotlib==3.7.1
seaborn==0.12.2
squidpy==1.1.1
torch==1.13.1
torchmetrics==0.11.4
torch-geometric==2.2.0
torchvision==0.14.1
lightning==2.0.0
zarr==2.14.1
tqdm==4.65.0
pathlib==1.0.1
argparse==1.4.0
scikit-learn==1.2.2
adjustText==0.8.3
